* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-card {
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  width: 250px;
  height: 400px;
  padding: 20px;
  text-align: center;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.book-card:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.book-card img {
  width: 100%;
  height: 200px;
}

.price {
  color: green;
  font-weight: bold;
}
#container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
